body {
  margin: 0;
  padding: 0;
  display: flex;
}
.left {
  width: 25%;
  height: 100vh;
  background-color: red;
}

.right {
    width: 75%;
    height: 100vh;
    background-color: blue;
    padding: 10px;
}
.right-top{
width: 100%;
height: 50vh;
background-color: green;
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
}

.right-bottom{
width: 100%;
background-color: yellow;
height: 50vh;
padding: 10px;
}

.right-top img {
  width: 200px;
  height: 200px;
}

#cardDiv {
  display: flex;
  justify-content: space-between;
}

.card {
  background: teal;
  border: 2px solid black;
  border-radius: 8px;
  width: 18%;
  text-align: center;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.history button {
  margin: 5px;
  background: purple;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.4rem;
}